td{padding:0;border-width:1px;}
#bd{width:100%;}
#content{
	max-width:640px;
	
	font-family:microsoft yahei;
	font-size:0.8pc;
	margin:10px;
	margin:0 auto;
	overflow:hidden;
}
    html,body,div,p,span,ul,dl,ol,h1,h2,h3,h4,h5,h6,table,td,tr{padding:0;margin:0}
    .content{width:500px;margin:100px auto;border:1px solid #ddd}
    h1{margin-bottom:30px;background-color:#eee;border-bottom:1px solid #ddd;padding:10px;text-align: center}
    table{border-collapse:collapse;width:90%;margin:20px auto}
    table tr td{font-size:14px}
    input,select{width:100%;line-height:25px;background: none;
    border: 0;
    resize: none;
    outline: none;}
    button{font-size:16px}
	.tj{margin:0 auto;width:100%;}
	#formTests{overflow:hidden;}
	.mall{margin:0 auto;background-color:#ebf3ff;overflow:hidden;padding:10px;border-radius:3px;min-height:35rem;}
.tj .tjfix{width:640px;height:1000px;position:fixed;background:#eee;}
.tj .tjbd label{height:2rem;line-height:2rem;width:22%;margin-right:3px;display:block;float:left;color:#444;border-radius:3px;text-align:center;border-top-right-radius:0;border-bottom-right-radius:0;}
.tj .tjbd{padding-top:2rem;}
.tj .tjbd select{width:75%;height:2.1rem;color:#555;margin-bottom:.3rem;background-color:#fff;border:1px solid #ccc;border-radius: 5px;text-indent:10px;font-family:microsoft yahei;float:left;}
.tj .tjbd input,.tj .tjbd .spsm{width:75%;height:2.1rem;margin-bottom:.3rem;padding:0;background:#fff;border:1px solid #ccc;border-radius: 5px;text-indent:10px;}
.tj .tjbd .spsm{
	height:auto;
	float:left;
	width:75%;
	background-color:#EAFFFB;
	color:#555;
	    border-color: #B9DAD4;
		text-indent:0;
}
.tj .tjbd select:hover,.tj .tjbd input:hover{border-color:#307BEC;}
.tj .tjbd .sub_button{background:#13C189;-webkit-appearance: none;color:#fff;border:0;font-family:microsoft yahei;width:100%;float:right;border-top-left-radius:3px;border-bottom-left-radius:3px;height:2.5rem;}
.gyk{margin-bottom:1.5rem;width:100%;}
.gyk .lbk{overflow:hidden;width:100%;}
.bzsm{text-indent:23%;color:#ff0000;font-size:0.5pc;}
.ddxx{background: #BFDBFF;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
    color: #2B64AD;
    border: 1px solid #75B2FF;
}
.tips{width:100%;}
.tips .tipbd{
	margin: 1.5rem 0.2rem 0;
}
.h{background:#83B522;color:#fff;padding: 10px;
    border-radius: 15px;display:block;border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;}
.s{border:1px solid #83B522;border-top:0;padding: 10px;
    border-radius: 15px;display:block;color:#777;background:#fff;border-top-left-radius: 0;
    border-top-right-radius: 0;margin-bottom:1.4rem;}
#fklctt{
	    background-color: #f60;
    color: #fff;
    border-radius: 15px;
    height: 2.0rem;
    text-align: center;
    font-size: 1pc;
    line-height: 2rem;
}

